@import "./mixins.scss";

.container {
  @include container();
}

.content {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media-up(md) {
    inset: 0;
  }
}

.welcomeText {
  text-align: left;
  margin-left: 20px;
  margin-right: 10rem;
  margin-bottom: 20px;

  @include media-up(md) {
    margin: 0;
    text-align: center;
  }

  h1 {
    color: white;
    font-weight: bolder;
    font-size: 3rem;
    line-height: 3.5rem;
  }

  p {
    color: #a9a9a9;
    font-weight: 500;
    font-size: 20px;
  }
}

.button {
  @include button;

  @include media-up(md) {
    margin-top: 5rem;
  }
}
