$breakpoints: (
  sm: 540px,
  md: 768px,
  lg: 1024px,
);

//Mixin para media query
@mixin media-up($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

//Mixin para transiciones
@mixin transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

//Mixin para achicar botón al hacerle click
@mixin scale90 {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

// Mixin de botón de inicio
@mixin button($border-radius: 0.5rem) {
  background-color: #347af0;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 24px;
  border: none;
  padding: 10px 20px;
  text-align: center;
  border-radius: $border-radius;
  @include transition-all;

  &:active {
    @include scale90();
  }

  &:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}

// Mixin para agregar sombras
@mixin dropShadowMd {
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

// Mixin para Inputs
@mixin formInputs($overflowY: scroll) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 4rem;
  overflow-y: $overflowY;
  overflow-x: hidden;
  border-color: rgba(0, 0, 0, 0);
  transition: border-color 0.75s linear;

  @include media-up(lg) {
    display: grid;
    place-content: center;
    place-items: center;
    overflow-y: auto;
    gap: 4.5rem;
    grid-template-columns: 1fr 1fr;
    width: 50rem;
  }

  &:hover {
    border-color: rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar {
    width: 10px;
    /* add border to act as background-color */
    border-right-style: inset;
    /* sum viewport dimensions to guarantee border will fill scrollbar */
    border-right-width: calc(100vw + 100vh);
    /* inherit border-color to inherit transitions */
    border-color: inherit;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    /* add border to act as background-color */
    border-right-style: inset;
    /* sum viewport dimensions to guarantee border will fill scrollbar */
    border-right-width: calc(100vw + 100vh);
    /* inherit border-color to inherit transitions */
    border-color: inherit;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: #347af0;
  }

  &::-webkit-scrollbar-corner {
    /* add border to act as background-color */
    border-right-style: inset;
    /* sum viewport dimensions to guarantee border will fill scrollbar */
    border-right-width: calc(100vw + 100vh);
    /* inherit border-color to inherit transitions */
    border-color: inherit;
  }
}

@mixin container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  max-width: 1440px;
}

@mixin mobileContainer {
  @include container();
  display: grid;
  grid-template-rows: 1fr 9fr 1fr;
}

//Card styles
$card-levels:(
  base: #FFD078,
  gold: #DAA520,
  platinum: #E5E4E2,
  black: #1D1D1D
);

$card-brands: (
visa: url("../public/img/visa.png"),
mc: url("../public/img/mc.png")
);

@mixin card ($card-brand){
  @include dropShadowMd();
  min-width: 288px;
  height: 170px;
  left: 24px;
  top: 195px;
  background: #FBCD77;
  border-radius: 15px;
  display: flex;
   p{
    align-self: flex-end;
    margin-bottom: 15px ;
    margin-left: 5%;
   }
}
