@import "../styles/mixins.scss";

.container {
  background: #347af0;
  height: 100vh;
  @include container();
  @include media-up(md) {
    margin-top: 5%;
    margin-bottom: 10%;
    overflow: none;
    overflow-y: hidden;
    width: 100%;
    max-width: 1024px;
    height: 730px;
    border-radius: 10px;
    box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.5);
  }
  .arrowIcon {
    color: white;
    width: 2rem;
    margin-top: 2rem;
    margin-left: 1.5rem;
  }
}

.imageContainer {
  margin-top: 5rem;
  @include media-up(md){
    margin-top: 0;
  }
  display: flex;
  align-items: center;
  justify-content: center;

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbfbfb;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
    height: 10rem;
    width: 10rem;
  }

  img {
    object-fit: contain;
  }
}

.text {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
  }

  p {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
}

.submit {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .check {
    cursor: pointer;
    background: #6c9ae8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    outline: none;
    border: none;
    width: 94px;
    height: 50px;
    @include transition-all();

    &:enabled:active {
      transform: scale(0.9);
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9);
    }

    &:disabled {
      filter: brightness(0.7);
      -webkit-filter: brightness(0.7);
    }

    .checkIcon {
      color: white;
      height: 40px;
      width: 40px;
    }

    .dots {
      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background-color: #ffff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        animation: dots 2s infinite ease-in-out;
        -webkit-animation: dots 1.5s infinite ease-in-out;

        &:nth-child(2) {
          animation-delay: 0.4s;
        }

        &:nth-child(3) {
          animation-delay: 0.8s;
        }

        @keyframes dots {
          50% {
            opacity: 0;
            transform: scale(0.7);
            -webkit-transform: scale(0.7);
            -moz-transform: scale(0.7);
            -ms-transform: scale(0.7);
            -o-transform: scale(0.7);
          }
        }
      }
    }
  }
}

.amount {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .inputAmount {
    cursor: default;
    color: white;
    font-size: 7vw;
    font-weight: 600;
    text-align: center;
    background: none;
    border: none;
    outline: none;
  }
}

.numpad {
  margin-top: 5rem;
  display: grid;
  width: 100%;
  grid-template-columns: 3fr;
  gap: 0.5rem;
  place-items: center;
  place-content: center;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
@include media-up(md){
  visibility:hidden;
  
}
  .numpadRow {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
  }

  .key {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 127.44px;
    height: 59px;
    margin: 3px;
    background: #1667ef;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 24px;
    @include transition-all();

    &:active {
      background: rgba(0, 0, 0, 0.25);
      transform: scale(0.9);
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9);
    }
  }

  .backspaceIcon {
    width: 24px;
  }
}
