@import "./mixins.scss";

.container {
  @include container();
}

.arrow {
  cursor: pointer;
  margin-top: 2rem;
  margin-left: 2rem;
  width: fit-content;
  display: flex;
  background-color: #347af0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  @include transition-all;

  &:active {
    @include scale90;
  }
}

.title {
  margin-top: 2rem;
  margin-left: 2rem;
  text-align: left;
  color: white;
  font-size: 54px;
  font-weight: bold;
}

.content {
  overflow: hidden;
  display: grid;
  place-items: center;
  place-content: center;
}

.form {
  @include formInputs();
  margin-right: 1.8rem;
  width: 25rem;
  height: 20rem;
}

.checkbox {
  margin-right: 6.5rem;
  display: flex;
  justify-content: center;
  color: white;

  @include media-up(lg) {
    margin-left: 8rem;
  }

  p {
    margin-left: 5px;
  }
}

.button {
  @include button(6px);
  margin-top: 1rem;
  width: 15rem;
}
